@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/* ---------- CSS Variables ---------- */
:root{
    /* Color Theme */
    --Grn: #06A816;
    --Orn: #E75D02;
    --Blk: #000000;
    --Wht: #ffffff;

    /* Font Families */
    --Habibi: Habibi;
    --IrishG: 'Irish Grover';
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- end css reset ---------- */

/* ---------- begin css for mobile ---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    background-color: var(--Wht);
}
body {
    min-width: 428px;
    font-family: var(--Habibi);
    font-size: 1.25em;
    color: var(--Blk);
    line-height: 1.25em;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
}

/* header items */
/* header items */
/* header items */


header p {
    font-style: italic;
}

.header-h1 a {
    text-decoration: inherit;
    color: inherit;
}

header {
    width: 100%;
    background-color: var(--Grn);
    color: var(--Wht);
    text-align: center;
}


nav ul {
    display: grid;
    justify-content: center;
}

nav {
    background-color: var(--Wht);
    padding: 20px 0px 20px 0px;
}

nav li {
    list-style: none;
    padding: 10px;
  }

nav a {
    text-decoration: none;
    background-color: var(--Orn);
    display: block;
    text-align: center;
    color: var(--Wht);
    padding: 10px;
    border: 2px solid var(--Wht);
    width: 300px;
  }

nav a:hover {
    color: var(--Wht);
    background-color: var(--Grn);
}

.topnavbutton {
	position: fixed;
	bottom: 10px;
	right: 0px;
    z-index: 100;
}

.topnavbutton a {
    width: 60px;
}


/* ----------  h1 h2 h3 ----------  */
h1, h2, h3  {
    font-family: var(--IrishG);
    padding: 20px 10px 20px 10px;
}

h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px var(--Blk);

}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
    text-align: center;
}

header p {
    padding: 10px;
}
footer p  {
    padding: 0px 0px 10px 0px;
}


/* main items */
/* main items */
/* main items */



/* produce images with text in front */
.produce {
    position: relative;
    width: 300px;
    height: 300px;
    align-self: center;
    justify-self: center;      
}

.p-label {
    z-index: 100;
    position: absolute;
    text-align: center;
    color: var(--Wht);
    padding: 10px;
    top: 125px;
    left: 50px;
    width: 200px;
    height: 50px;
    background: var(--Blk);
    opacity: 0.55;
}
/* container for photos */
.fruit-photos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;    
}

.veggie-photos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

/* footer items */
/* footer items */
/* footer items */


footer {
    width: 100%;
    background-color: var(--Wht);
    color: var(--Grn);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    text-align: center;
}

#contact, #hours {
    width: 100%;
    background-color: var(--Grn);
    color: var(--Wht);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* adding in a dash between day and hours */
dd::after {
    content: '\A';
    white-space: pre-line;
}
dd, dt {
    display: inline;
}
dt::after {
    content: ' - ';
}

/* 836 min width */
@media screen and (min-width: 836px) {
    .header-class {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }


    .header-nav {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .header-nav-ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .header-h1 {
        justify-self: start;
    }

    .header-p {
        justify-self: end;
    }

    .fruit-photos, .veggie-photos {
        grid-template-columns: 1fr 1fr;
    }

    .contact-hours {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* 1280px min width */
@media screen and (min-width: 1280px) {
    .header-class {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .header-nav {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .header-h1, .header-p {
        justify-self: start;
    }
    nav {
        background-color: var(--Grn);
    }

    .fruit-photos, .veggie-photos {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #contact, #hours {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
    }

}

/* 1440px min width */
@media screen and (min-width: 1440px) {

    .fruit-photos, .veggie-photos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
